@font-face {
  font-family: virgil;
  src: url(../assests/fonts/Virgil.woff2) format("woff2");
}
:root {
  --clr-background: #ffffff;
  --clr-text: #333333;
  --clr-primary: #333333;
  --clr-secondary: #666666;
  --clr-accent: #333333;
  --clr-border: #cccccc;

  --font-primary: virgil, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--font-primary);
}
h1,
h2,
h3 {
  color: var(--clr-primary);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--clr-text);
}

/* ********************* main layout ********************* */
.main-layout {
  display: grid;
  grid-template-columns: 2rem 15rem 1fr 2rem;
  grid-template-rows: 4rem 1fr;
}

/* ********************* header ********************* */
.header {
  grid-column: 2/-2;
  grid-row: 1/2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--clr-border);
  background: var(--clr-background);
}
.main-logo {
  font-size: 1.5rem;
  color: var(--clr-primary);
}
.nav ul {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
}
.btn {
  padding: 4px 10px;
  border: 1px solid var(--clr-border);
  border-radius: 5px;
}
.btn:hover {
  background: var(--clr-border);
}

/* ********************* sidebar ********************* */
.sidebar {
  grid-column: 2/3;
  grid-row: 2/-1;
  border-right: 1px solid var(--clr-border);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  
}
.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--clr-primary);
}

.sidebar-item h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.sidebar-item ul {
  margin: 0 2rem 0 0rem;
}
.sidebar-item ul li {
  /* background: var(--clr-border); */
  padding: 0.5rem 1rem;
  border: 1px dashed var(--clr-border);
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.sidebar-item ul li:hover {
  background: var(--clr-border);
  transition: 0.3s;
}

/* ********************* main ********************* */
.main {
  grid-column: 3/-2;
  grid-row: 2/-1;
}
.one,
.two,
.three,
.four {
  background: var(--clr-border);
  height: 100dvh;
}
